.dashboard, .logout {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.dashboard a, .logout a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: rosybrown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
}
.dashboard a:hover, .logout a:hover {
    background-color: blueviolet;
}