body {
    background-color: lavender;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #3c3c65;
    color: lavender;
    padding: 20px;
    text-align: center;
}

.navbar {
    background-color: #3c3c65;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.nav-link {
    color: lavender;
    margin: 0 15px;
    text-decoration: none;
    font-size: 17px;
}

.nav-link:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.img {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.footer {
    background-color: #3c3c65;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}
