body {
    background-color: lavender;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #3c3c65;
    color: lavender;
    padding: 20px;
    text-align: center;
}

.navbar {
    background-color: #3c3c65;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: relative;
}

.nav-links {
    display: flex;
}

.nav-link {
    color: lavender;
    margin: 0 15px;
    text-decoration: none;
    font-size: 17px;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-toggle {
    display: none;
    background-color: #3c3c65;
    border: none;
    color: lavender;
    font-size: 24px;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.img {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.footer {
    background-color: #3c3c65;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

h2 {
    color: red;
}

.update,
.delete {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    height: 30px;
    font-weight: bold;
}

.update {
    background-color: green;
}

.update:hover {
    background-color: slateblue;
}

.delete {
    background-color: red;
}

.delete:hover {
    background-color: crimson;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
}

table,
th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

select {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

h2,
h4 {
    color: #333;
}

h2 {
    color: #3c3c65;
    font-size: 28px;
    margin-bottom: 10px;
}

h4 {
    color: #483d8b;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-toggle {
        display: block;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        margin: 10px 0;
    }

    .img img {
        width: 100%;
        height: auto;
    }

    table {
        font-size: 10px;
        margin: 10px 0;
    }

    .container {
        padding: 10px;
    }
    .sort-filter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sort-filter-container label,
    .sort-filter-container select {
        margin: 10px 0;
    }
}