*
{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-color:lavender;
    padding:0 10px;
}
.container{
    max-width: 500px;
    width:100%;
    background-color: white;
    margin: 20px auto ;
    padding:30px;
    box-shadow: 5px 5px 5px rgba(red, green, blue, alpha);
}
.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007bff;
}

.Title h5 {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
    color: red;
}
.form .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.form .input_field label{
    width: 200px;
    margin-right: 10px;
}
.form .input_field .input{
    width: 100%;
    outline: none;
    background-color:3px solid lavender;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.5s;
}

.form .input_field .input:focus{
    border: 2px solid purple;
}

.form .input_field select:focus{
    border: 2px solid purple;
}
.form .input_field  .btn
{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    background-color: lavender;
    cursor: pointer;
    border-radius: 3px;
}
.form .input_field  .btn:hover
{
    background-color: purple;
}
.signup {
    text-align: center;
    margin-top: 20px;
}

.signup .link {
    color: #007bff;
    text-decoration: none;
}

.signup .link:hover {
    text-decoration: underline;
}